<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Reporte de {{ incident.Tipo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="location != '0,0'">
    <img [src]="'https://maps.googleapis.com/maps/api/staticmap?center=' + location + '&zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:C%7C' + location + '&key=' + mapsKey">
  </div>

  <p text-center>Mientras estés en esta pantalla se está enviando tu ubicación a tus compañeros para que puedan acudir a ayudarte.</p>
  <div padding>
    <ion-button expand="block" (click)="salir()">Dejar de compartir</ion-button>
  </div>
</ion-content>
