<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let ev of orderBy('FechaInicio')">
    <ion-card-header>
      <ion-card-title>{{ ev.Nombre }}</ion-card-title>
      <ion-card-subtitle>{{ ev.NumeroHoras }} horas</ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>{{ ev.FechaInicio }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ ev.LugarOrigen }}</ion-label>
      <ion-button (click)="viewDetails(ev.nIdEvento)" fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      {{ ev.Descripcion }}
    </ion-card-content>
  </ion-card>

  <div padding class="no-event" *ngIf="events.length == 0">
    <h2><ion-icon name="calendar"></ion-icon></h2>
    <p>No hay Eventos próximos</p>
  </div>
</ion-content>
