<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <img src="../../../../assets/images/logo.png">

  <ion-row style="padding: 10vh 10vw;">
    <ion-col text-center>
      <ion-card (click)="report('Avería')" style="border-radius:10px;">
        <img src="../../../../assets/images/failure_.png">
      </ion-card>
    </ion-col>
    <ion-col text-center>
      <ion-card (click)="report('Accidente')" style="border-radius:10px;">
        <img src="../../../../assets/images/accident_.png">
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
