<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center;">
    <h2>{{ event.Nombre }}</h2>
    <h3>{{ event.LugarOrigen + ' - ' + event.LugarDestino }}</h3>
    <p>{{ event.FechaInicio + ' al ' + event.FechaFin }}</p>
  </div>
  <div *ngIf="location != '0,0'">
    <img [src]="'https://maps.googleapis.com/maps/api/staticmap?center=' + location + '&zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:C%7C' + location + '&key=' + mapsKey">
  </div>
  <div padding>
    <ion-button expand="block" (click)="register()">Registra mi Asistencia</ion-button>
  </div>
</ion-content>
