<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="public/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h4></h4>
          </div>
          <div padding>
            <ion-item>
              <ion-input type="text" placeholder="Nombre Completo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Contraseña"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Confirma Contraseña"></ion-input>
            </ion-item>
          </div>
    
          <div padding>
            <ion-button href="/public/login" expand="block">Registrarme</ion-button>
          </div>
          <div>
            <ion-item style="--border-style: none;">
              <small>Acepto los <a>Términos y Condiciones</a></small>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
