<ion-content padding>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <img src="../../../../assets/images/logo.png">
          </div>
          <form name="loginForm" #f="ngForm" novalidate>
            <div padding>
              <ion-item>
                <ion-input name="user" type="email" #email="ngModel" placeholder="Usuario" [(ngModel)]="user.email" [ngClass]="{ 'is-invalid': email.invalid }" required email></ion-input>
              </ion-item>
              <div *ngIf="email.invalid && email.dirty" class="invalid-feedback" padding>
                  <div *ngIf="email.errors.required">El Email es requerido</div>
                  <div *ngIf="email.errors.email">El Email no es válido</div>
              </div>

              <ion-item>
                <ion-input name="password" type="password" placeholder="" [(ngModel)]="user.password" #password="ngModel" [ngClass]="{ 'is-invalid': password.invalid }" value="null" required></ion-input>
              </ion-item>
              <div *ngIf="password.invalid && password.dirty" class="invalid-feedback" padding>
                  <div *ngIf="password.errors.required">El Password es requerido</div>
              </div>
            </div>

            <div padding>
              <ion-button expand="block" (click)="login(user)" [disabled]="email.invalid || password.invalid">Ingresar</ion-button>
              <ion-button color="secondary" href="/public/register" expand="block">Registrarme</ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
