<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>¿Con Moto?</ion-label>
      <ion-toggle [(ngModel)]="attend.ConMoto"></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-label>¿Con Acompañante?</ion-label>
      <ion-toggle [(ngModel)]="attend.ConAcompanante"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="attend.ConAcompanante">
      <ion-input name="acomp" type="text" #acomp="ngModel" placeholder="Nombre del Acompañante" [(ngModel)]="attend.NombreAcompanante"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>¿Con Invitado?</ion-label>
      <ion-toggle [(ngModel)]="attend.ConInvitado"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="attend.ConInvitado">
      <ion-input name="inv" type="text" #inv="ngModel" placeholder="Nombre del Invitado" [(ngModel)]="attend.NombreInvitado"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="register(attend)">Registrarme</ion-button>
</ion-content>
